@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <p>
            这是一个测试页面！
        </p>
        <p >
        <span  style ="font-family:楷体; font-size:16px; color : black" >
                用户名：
        </span>
             <input id="Text1" type="text" />
        </p>
        <p>
            <span style ="font-family:楷体; font-size:16px; color : black" >
                密码：
            </span>
            <input id="Password1" type="password" />
        </p>
       
    </div>
</body>
</html>

